In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('/content/DS11 Leaderboard.xlsx', sheet_name=None)

In [7]:
df1=pd.concat(df, ignore_index=True)

In [12]:
df1['Unnamed: 0']

0       NaN
1       NaN
2       NaN
3       NaN
4      Rank
       ...
617       -
618       -
619       -
620       -
621       -
Name: Unnamed: 0, Length: 622, dtype: object

In [20]:
mohit=df1[(df1['Unnamed: 1']=='Mohit Goswami')|(df1['Unnamed: 1']=='Mohit')]

In [23]:
mohit

    Unnamed: 0     Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
9            4  Mohit Goswami        7.7        NaN        NaN        NaN
58          10  Mohit Goswami        5.5        NaN        NaN        NaN
90           2  Mohit Goswami        7.3        NaN        NaN        NaN
137          8  Mohit Goswami   6.066667        NaN        NaN        NaN
171          1  Mohit Goswami        9.0        8.0        7.5        8.2
214          4          Mohit        7.0        6.0        9.0        7.3
254          8          Mohit        8.0        6.0        6.7        6.9
278          3          Mohit        9.0        9.0        7.0        8.4
307          1          Mohit        8.0        8.3        8.3        8.2
356         10          Mohit        9.0        6.0        7.0        7.3
373          3          Mohit       10.0        9.0        8.0        9.0
410          5          Mohit        9.0       10.0        8.5        9.2
435          1          Mohit        8.7        8.5        8.6        NaN
476          7          Mohit        6.0        6.0        8.5        6.8
511          8          Mohit        7.0        7.0        9.0        7.7
532          1          Mohit       10.0       10.0        9.7        9.9
574          4          Mohit        8.0        9.0        8.0        8.3
600          3          Mohit        8.0        8.0        8.0        8.0

In [22]:
mohit.to_excel("mohit.xls", index=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.